ul
{
    list-style-type: none;
}

li
{
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Arvo';
    font-size: 18px;
}

.brisanje_sl
{
    margin-right: 10px;
    vertical-align: middle;
}

#naslov_liste
{
    font-family: 'Vollkorn';
    font-size: 36px;
}

#sve
{
    position: absolute;
    left: 45%;
}